.container{
    display: flex;
    max-width: 1000px;
    margin: auto;
}
.top_btn{
            display: flex;
            gap: 32px;
}
.contact_form form{
    display: flex;
    gap:20px;
    flex-direction: column;
    
}

.form_control{
    margin-top: 20px;
    position: relative;
    width: 100%;
    
}

.form_control input{
    height: 30px;
    padding: 0 8px;
    width: 95%;
}

.form_control label{
    position:absolute;
    left: 10px;
    background-color: white;
    top: -9px;
    padding: 0 10px;

    

}
